html,
body {
    min-height: 100%;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Passion One', cursive;
    color: white;
}

label {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-between {
    justify-content: space-between;
}
.holder {
    max-width: 700px;
    margin: 0 auto;
}

.options-title{
    font-size: 20px;
    margin: 50px 0 10px;
}

.choose-date{
    font-size: 20px;
}

.options-buttons{
    display: grid;
    margin-bottom: 20px;    
}

.page-header{
    height: 75px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 60px;
    margin-top: 20px;
}

.choose-date input {
    padding: 11px;
    display: block;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 6px;
    min-width: 180px;
}

.calculation-result {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 7px 9px;
    max-width: 300px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(0 0 0 / 10%);
    margin-top: 20px;
}


table {
    width: 100%;
}
table,
th,
td {
    border: 1px solid white;
    padding: 5px;
}

.coint-buttons button {
    margin-right: 10px;
}






.both-dates-choose{
    display: grid;
    padding-bottom: 50px;
}

.stard-end-date-text{
    margin-bottom: 0px;
}

.choose-end-date{
    text-align: center;
    color: white;
    font-size: 20px;
    display: grid;
    justify-items: start;
}



.preset-text{
    font-size: 20px;
    font-family: 'Passion One', cursive;
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.presets-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
}

.calculate-in-text{
    font-size: 20px;
    font-family: 'Passion One', cursive;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.calculate-in-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
}

.option-all-days,
.option-all-weekdays,
.option-all-weekends,
.preset-week,
.preset-month,
.coint-in-days,
.coint-in-hours,
.coint-in-minutes,
.coint-in-seconds{
    background-color: rgb(255, 255, 255);
    border: rgb(1, 1, 3);
    border-style: solid;
    border-width: 1.5px;
    height: 35px;
    width: 100px;
    border-radius: 13px;
    cursor:pointer;
    transition: opacity 0.15s;
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 20px;
}

.option-all-days:hover {
    opacity: 0.7; }
.option-all-weekdays:hover {
    opacity: 0.7; }
.option-all-weekends:hover {
    opacity: 0.7; }

.preset-week:hover {
    opacity: 0.7; }
.preset-month:hover {
    opacity: 0.7; 
}
.preset-week:hover{
    opacity:0.7;
}
.preset-month:hover{
    opacity:0.7;
}

.coint-in-days:hover{
    opacity:0.7;
}

.coint-in-hours:hover{
    opacity:0.7;
}

.coint-in-minutes:hover{
    opacity:0.7;
}

.coint-in-seconds:hover{
    opacity:0.7;
}

.calculate-and-result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 70px;
}

.calculate {
    background-color: rgb(15, 97, 65);
    border: rgb(1, 1, 3);
    border-style: solid;
    border-width: 1.5px;
    height: 35px;
    width: 100px;
    border-radius: 13px;
    cursor:pointer;
    color: white;
    transition: opacity 0.15s;
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-right: 25px;
}

.calculate-button{
    display: grid;
    justify-items: end;
}


.table{
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 15px; 
    color: white;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
